<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheet/stars.css">

    <div class="row">
        <div class="col-6">
            <!-- Carousel -->
            <div id="mapAppIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">

                    <% post.images.forEach((img, i)=> { %>
                        <button type="button" data-bs-target="#mapAppIndicators" data-bs-slide-to="<%= i %>"
                            class="<%= i === 0 ? " active" : "" %>" aria-label="Slide <%= i + 1 %>"></button>
                        <% }) %>

                </div>
                <div class="carousel-inner carousel-show-page-radius">

                    <% post.images.forEach((img, i)=> { %>
                        <div class="carousel-item <%= i === 0 ? " active" : "" %>">
                            <img src="<%= img.showPageUrl %>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>

                </div>

                <% if(post.images.length> 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mapAppIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mapAppIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>

            <!-- DESCRIPTION -->
            <div class="card mb-3 font-white">
                <div class="card-body">
                    <h5 class="card-title mb-0">
                        <%= post.title%>
                    </h5>
                    <p class="card-text text-muted-c fs-6">Posted by <a class="link-secondary" href="#">
                            <%=post.author.username%>
                        </a></p>
                    <p class="card-text">
                        <%= post.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted-c">
                        <%= post.location%>
                    </li>

                </ul>

                <% if( currentUser && post.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/posts/<%=post._id%>/edit">Edit</a>
                        <form class="d-inline" action="/posts/<%=post._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>

                        <div class="card-footer text-muted-c">
                            <% if(post.daysFromCreation) {%>
                                Posted <%= post.daysFromCreation %> day<%= post.daysFromCreation===1 ? "" : "s" %> ago
                                        <% } else { %>
                                            Posted today
                                            <% } %>
                        </div>
            </div>
        </div>


        <div class="col-6">
            <!-- MAP -->
            <div id='map' class="mb-3"></div>

            <!-- REVIEWS -->
            <% if (currentUser) { %>

                <form action="/posts/<%=post._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label font-white" for="body">Comment</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>


                    <!-- REVIEW COMMENTS -->
                    <% for(let review of post.reviews) { %>
                        <div class="card mb-3 font-white">
                            <div class="card-body pb-1">
                                <h6 class="card-subtitle mb-2 text-muted-c px-2">By <a href="#" class="link-secondary">
                                        <%= review.author.username %>
                                    </a></h6>
                                <p class="card-text px-2 mb-0">
                                    <%= review.body %>
                                </p>

                                <% if( currentUser) {%>
                                    <div class="accordion" id="accordionExample"></div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <div class="mb-1 text-muted-c font-small highlight-btn">Reply</div>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body px-2">

                                                <form action="/posts/<%=post._id%>/replies" method="POST" class="mb-3 validated-form" novalidate>
                                                    <div class="mb-3">
                                                        <textarea class="form-control" name="replies[body]" id="body" cols="30" rows="3"
                                                            required></textarea>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <button class="text-muted-c font-small highlight-btn">Submit</button>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <% } %>

                                <% if( currentUser && review.author.equals(currentUser._id)) {%>
                                    <form action="/posts/<%=post._id%>/reviews/<%=review._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                        </div>
        </div>
        <% } %>
    </div>
    </div>

    <script>

        const post = <%- JSON.stringify(post) %>
            console.log(post)
    </script>
    <script src="/javascript/showPageMap.js"></script>